In [8]:
!pip install citipy

Collecting citipy
  Downloading citipy-0.0.5.tar.gz (557kB)
Collecting kdtree>=0.12 (from citipy)
  Downloading kdtree-0.16-py2.py3-none-any.whl
Building wheels for collected packages: citipy
  Running setup.py bdist_wheel for citipy: started
  Running setup.py bdist_wheel for citipy: finished with status 'done'
  Stored in directory: C:\Users\mduke\AppData\Local\pip\Cache\wheels\68\ab\e8\bf9e7c2e7a41fd29026e52d88379ebc770f90eace3b616a420
Successfully built citipy
Installing collected packages: kdtree, citipy
Successfully installed citipy-0.0.5 kdtree-0.16

In [9]:
# Dependencies
import json
import requests as req
import random
import seaborn as sns
import pandas as pd
import math as math
import time
import numpy as np
import matplotlib.pyplot as plt
from citipy import citipy

In [6]:
api_key = "478ee01ae8b8eae871901fe2bef506c7"

In [10]:
location_data = pd.DataFrame()
location_data['lat_values'] = [np.random.uniform(-90,90) for x in range(1500)]
location_data['lng_values'] = [np.random.uniform(-180, 180) for x in range(1500)]

location_data.head()#check

   lat_values  lng_values
0  -53.668057   44.772856
1  -85.599915 -123.476984
2   71.754637  -21.667935
3   80.554609   21.109109
4   57.129979 -124.912084

In [11]:
location_data['city'] = ""
location_data['country'] = ""

count = 0
for index, row in location_data.iterrows():
    near_city = citipy.nearest_city(row['lat_values'], row['lng_values']).city_name
    near_country = citipy.nearest_city(row['lat_values'], row['lng_values']).country_code
    location_data.set_value(index,"city",near_city)
    location_data.set_value(index,"country",near_country)
location_data.head()#check

   lat_values  lng_values              city country
0  -53.668057   44.772856       east london      za
1  -85.599915 -123.476984      punta arenas      cl
2   71.754637  -21.667935  illoqqortoormiut      gl
3   80.554609   21.109109      longyearbyen      sj
4   57.129979 -124.912084         mackenzie      ca

In [12]:
len(location_data)

1500

In [13]:
location_data=location_data.drop_duplicates(['city','country'],keep = "first")

In [14]:

location_data['Temp'] = ""
location_data['Humidity'] = ""
location_data['Cloudiness'] = ""
location_data['Wind Speed'] = ""
location_data["Lat"] =""
location_data["Longitude"] =""

In [15]:
# Set the sample size.
sample_size = 500

target_url = 'http://api.openweathermap.org/data/2.5/weather?q='
units = 'imperial'

In [16]:
location_data.head()#check

,lat_values,lng_values,city,country,Temp,Humidity,Cloudiness,Wind Speed,Lat,Longitude
0,-53.668057,44.772856,east london,za,,,,,,
1,-85.599915,-123.476984,punta arenas,cl,,,,,,
2,71.754637,-21.667935,illoqqortoormiut,gl,,,,,,
3,80.554609,21.109109,longyearbyen,sj,,,,,,
4,57.129979,-124.912084,mackenzie,ca,,,,,,

In [1]:
record = 0
for index, row in location_data.iterrows():
    city_name = row['city']
    country_code = row['country']
    url = target_url + city_name + ',' + country_code + '&units=' + units + '&APPID=' + api_key
    print (url)
    try: 
        weather_response = req.get(url)
        weather_json = weather_response.json()
        latitude = weather_json["coord"]["lat"]
        longitude = weather_json["coord"]["lon"]
        temp = weather_json["main"]["temp"]
        humidity = weather_json["main"]["humidity"]
        cloud = weather_json["clouds"]["all"]
        wind = weather_json["wind"]["speed"]
        location_data.set_value(index,"Temp", temp)
        location_data.set_value(index,"Humidity",humidity)
        location_data.set_value(index,"Wind Speed", wind)
        location_data.set_value(index,"Cloudiness",cloud)
        location_data.set_value(index,"Lat", latitude)
        location_data.set_value(index,"Longitude",longitude)
        print("Retrieved data for %s, %s" % (city_name, country_code))
    except:
        print("No data for %s, %s" % (city_name,country_code))
    record += 1
    if record % 59 == 0:
        time.sleep(60)

NameError: name 'location_data' is not defined

In [ ]:
location_data.head(20)

In [ ]:
location_data.to_csv("weatherpy_data.csv", encoding="utf-8", index=False)

In [ ]:
location_data['Lat'] = pd.to_numeric(location_data['Lat'], errors = 'coerce')
location_data['Temp'] = pd.to_numeric(location_data['Temp'], errors = 'coerce')
location_data['Humidity'] = pd.to_numeric(location_data['Humidity'], errors = 'coerce')
location_data['Wind Speed'] = pd.to_numeric(location_data['Wind Speed'], errors = 'coerce')
location_data['Cloudiness'] = pd.to_numeric(location_data['Cloudiness'], errors = 'coerce')

In [ ]:

x= location_data["Lat"]
y= location_data["Temp"]
plt.scatter (x,y, edgecolor = 'black')
plt.title('Temperature (F) vs. Latitude')
plt.ylabel("Temperature (F)")
plt.xlabel('Latitude')
plt.show()

In [ ]:
x= location_data["Lat"]
y= location_data["Humidity"]
plt.scatter (x,y,edgecolor = 'black')
plt.title('Humidity (%) vs. Latitude')
plt.ylabel("Humidity (%)")
plt.xlabel('Latitude')
plt.show()

In [ ]:
x= location_data["Lat"]
y= location_data["Cloudiness"]
plt.scatter (x,y,edgecolor = 'black')
plt.title('Cloudiness (%) vs. Latitude')
plt.ylabel("Cloudiness (%)")
plt.xlabel('Latitude')
plt.show()

In [ ]:
x= location_data["Lat"]
y= location_data["Wind Speed"]
plt.scatter (x,y, edgecolor = 'black')
plt.title('Wind Speed (mph) vs. Latitude')
plt.ylabel("Wind Speed (mph)")
plt.xlabel('Latitude')
plt.show()